@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  /* Fondo claro solicitado F0F0F0 */
  background-color: #f0f0f0; 
  color: #1e293b; /* Texto gris oscuro (Slate-800) para contraste */
}